<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] scroll-smooth subpixel-antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="version" content={MusicLibrary.Application.version()} />
    <.live_title suffix=" · Music Library">
      {assigns[:page_title] || assigns.conn.request_path}
    </.live_title>
    <link rel="preconnect" href="https://rsms.me/" crossorigin />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link phx-track-static rel="icon" sizes="32x32" href={~p"/images/favicon.ico"} />
    <link
      phx-track-static
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={~p"/images/favicon-32x32.png"}
    />
    <link
      phx-track-static
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={~p"/images/favicon-16x16.png"}
    />
    <link
      phx-track-static
      rel="apple-touch-icon"
      sizes="180x180"
      href={~p"/images/apple-touch-icon.png"}
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    {Application.get_env(:live_debugger, :live_debugger_tags)}
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:bg-zinc-900">
    {@inner_content}
    <%!-- TODO: replace with OSS version --%>
    <footer class="mt-8 border-t border-slate-900/10 dark:border-slate-300/10">
      <div class="mx-auto max-w-screen-2xl pb-8 px-4 sm:px-8 2xl:px-0">
        <div class="pt-8 flex items-center justify-between">
          <div class="flex gap-x-6 order-2">
            <a
              href="https://github.com/cloud8421/music_library"
              class="text-zinc-600 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-300"
            >
              <span class="sr-only">GitHub</span>
              <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
          <p class="text-sm/6 text-zinc-600 dark:text-zinc-400 order-1">
            <span>{gettext("Made by")}</span>
            <a
              class="font-medium text-zinc-500 hover:border-zinc-300 hover:text-zinc-700 dark:text-zinc-300 dark:hover:text-zinc-200"
              href="https://claudio-ortolina.org"
            >
              Claudio Ortolina
            </a>
            <span>&mdash;</span>
            <span>{gettext("Data sourced from")}</span>
            <a
              class="font-medium text-zinc-500 hover:border-zinc-300 hover:text-zinc-700 dark:text-zinc-300 dark:hover:text-zinc-200"
              href="https://musicbrainz.org"
            >
              MusicBrainz
            </a>
            <span>|</span>
            <a
              class="font-medium text-zinc-500 hover:border-zinc-300 hover:text-zinc-700 dark:text-zinc-300 dark:hover:text-zinc-200"
              href="https://discogs.com"
            >
              Discogs
            </a>
            <span>|</span>
            <a
              class="font-medium text-zinc-500 hover:border-zinc-300 hover:text-zinc-700 dark:text-zinc-300 dark:hover:text-zinc-200"
              href="https://last.fm"
            >
              LastFm
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
