<main class="px-4 py-8 max-sm:pb-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-5xl">
    <LiveToast.toast_group
      flash={@flash}
      corner={:top_right}
      connected={assigns[:socket] != nil}
      toasts_sync={assigns[:toasts_sync]}
    />
    {@inner_content}
  </div>
</main>
