# Required in all environments
# Generate with: iex> 32 |> :crypto.strong_rand_bytes() |> Base.encode64()
CLOAK_ENCRYPTION_KEY=

# Required in production
DATABASE_PATH=
BACKGROUND_DATABASE_PATH=
SECRET_KEY_BASE=
LOGIN_PASSWORD=
API_TOKEN=

# Optional (all environments, except test for Last.fm)
OPENAI_KEY=
DISCOGS_PERSONAL_ACCESS_TOKEN=
BRAVE_SEARCH_API_KEY=
DEFAULT_TIMEZONE=
LAST_FM_API_KEY=
LAST_FM_SHARED_SECRET=
LAST_FM_USER=

# Optional in production
# PHX_SERVER=true
# PORT=4000
# SERVICE_FQDN_WEB=example.com
# POOL_SIZE=5
